<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- Namespace를 통해 JAVA 클래스와 Annotation클래스와 동기 -->
<mapper namespace="mybatis.dataMapper">

	<!-- SQL id 설정 및 parameterType, resultType을 설정 -->
	<!-- SQL의 id=insert 이고, ezen.vo.DataVO 클래스와 맵핑한다.  -->
	<!-- #{title} :  ezen.vo.DataVO.getTitle()을 호출한다는 의미이다. -->
	<insert id="insert" parameterType="ezen.vo.DataVO">	
		insert into data(title) 
		values(#{title})
	</insert>
	
	<delete id="truncate">
		truncate data
	</delete>
	
	<delete id="delete" parameterType="java.lang.String">
		delete from data
		where no = #{no}
	</delete>
	
	<select id="one" parameterType="java.lang.String"
			resultType="ezen.vo.DataVO">
		select * from data
		where no = #{no}
	</select>
	
	<select id="list" resultType="ezen.vo.DataVO">
		select * from data
	</select>
	
</mapper>