<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<context:annotation-config/>
	
	<bean id="hong" class="ezen.di.Student">
		<constructor-arg name="name" value="홍길동" />
		<constructor-arg name="age" value="16" />
		<constructor-arg name="job" value="학생" />
	</bean>
	<bean id="chun" class="ezen.di.Student">
		<constructor-arg name="name" value="성춘향" />
		<constructor-arg name="age" value="18" />
		<constructor-arg name="job" value="학생" />
	</bean>
	<bean id="lee" class="ezen.di.Student">
		<constructor-arg name="name" value="이순신" />
		<constructor-arg name="age" value="30" />
		<constructor-arg name="job" value="장군" />
	</bean>
	
	<bean id="school" class="ezen.di.School"/>
	
</beans>
