<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 
		ref 먼저 선언한 id
		value 값 대입 
	<bean id="sonata" class="ezen.di.Car" >
		<property name="product" value="현대자동차" />
		<property name="name" value="소나타" />
		<property name="hp" value="1000" />
	</bean>
	-->
	<!-- Person hong = new Student(); -->
	<bean id="hong" class="ezen.di.Student" >
		<property name="name" value="홍길동" />
		<property name="age" value="16" />
		<property name="job" value="학생" />
	</bean>
	
	<!-- Person jeon = new Teacher(); -->
	<bean id="jeon" class="ezen.di.Teacher" >
		<property name="name" value="전우치" />
		<property name="age" value="40" />
		<property name="job" value="선생" />
	</bean>
	
	<!-- School school = new School(); -->
	<bean id="school" class="ezen.di.School">
	<!-- school = setPerson(hong); -->
		<property name="person" ref="hong" />
	</bean>
	
	<!-- School school_jeon = new School(); -->
	<bean id="school_jeon" class="ezen.di.School">
	<!-- school_jeon = setPerson(jeon); -->
		<property name="person" ref="jeon" />
	</bean>
</beans>
